// $c-primary: #174e94;
// $c-primary-bold: #003459;

// $c-secondary: #174e94;
// $c-secondary-bold: #003459;

// $c-success: #174e94;
// $c-success-bold: #003459;

// $c-warning: #174e94;
// $c-warning-bold: #003459;

// $c-alert: #174e94;
// $c-alert-bold: #003459;

// $c-text: #424242;
// $c-text-light: #b0b0b0;
// $f-family: 'Open Sans', sans-serif;
// $br-body: #fff;

// $c-yellow: #ffbb2c;
// $fz-body: 14px;

// 1. Global
// ------------------------
$global-flexbox: true;

$foundation-palette: (
	'primary':	#B50826,
	'secondary':	#ffffff,
	'success': 	#4caf50,
	'warning': 	#ffae00,
	'alert': 		#ec5840,)
;
$body-font-family: "Open-Sans", sans-serif;
$body-background: #fff;
$body-font-color: #000;
$global-margin: 1rem;
$global-padding: 1rem;

// 2. Button
// ------------------------
$button-palette: (
	default:  #CF0A2C,
	disabled: #ccc,
	hover:    #F2F2F2,
	text-default: #fff,
	text-hover: #CF0A2C,
);
$button-border-color: #CF0A2C;

$button-padding: 1em 1.5rem;
$button-margin: 0;
$button-radius: 0.2rem;

$button-size: (
	default: 0.875rem
);

//3. Shadows
$shadow-key-umbra-opacity: 0.2 !default;
$shadow-key-penumbra-opacity: 0.14 !default;
$shadow-ambient-shadow-opacity: 0.12 !default;

//4. Animation
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;
$animation-curve-default: $animation-curve-fast-out-slow-in !default;
